* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
.naviguateur { 
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3rem;
}
.menu{
  display: flex;
  flex-wrap:wrap-reverse;
  padding: 10px;
  justify-content: flex-end;
  font-size: larger;
  
}
.naviguateur a.button_hover_nav_top {
    margin-top: 15px;
    color: black;
}
.naviguateur a.button_inscription {
    margin-top: 15px;
    color: #0065fc;
}
.button_nav_top1 {
  border-bottom: solid rgb(211, 211,211, 0.5);
}
.button_nav_top2 {
  border-bottom: solid #0065fc;
}
.naviguateur a:hover {
  color: #0065fc;
}
.naviguateur {
  width: 100%;
}
.menu ul {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
}
.menu li {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  align-items: center;
}
.naviguateur li li.items {
  display: flex;
  order: 3;
  justify-content:space-between;
  padding-top: 40px;
  flex-wrap: wrap-reverse;
}
.naviguateur li.li-logo {
    order: 1;
}
.naviguateur li .logo {
  width: 50px;
  height: 30px;
  display: block;
}
.logo img {
  max-width: 7rem;
  object-fit: contain;
  margin-left: 30px;
}
.naviguateur li.li-inscrire {
  order: 2;
  left: 75px;
  font-weight: 900;
}
h1 {
  margin-bottom: 10px;
  padding: 10px 20px;
}
.accueil {
  margin-bottom: 10px;
  text-align: start;
  padding: 10px 20px;
}
#recherche_loc {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 20px;
}
.mapmarker {
  background-color: #f2f2f2;
  width: 3rem;
  height: 3rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid #f2f2f2;
  justify-content: center;
  display: flex;
  align-items: center;
}
#recherche_loc .loupe {
  background-color: #0065fc;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 1rem;
  margin-left: 1rem;
  border: 2px solid #0065fc;
  display: flex; 
  align-items: center;
}
#recherche_loc .recherche_ville {
  display: flex;
  flex-wrap: wrap;
}
.recherche {
  display: none;
}
input {
  border: 2px solid #f2f2f2;
  font-weight: bold;
  padding-left: 20px;
}
.bouton_recherche {
  display: block;
  background-color: #0065fc;
  color: white;
  border-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px solid #0065fc;
  border-radius: 30%;
  left: 80vw;
  cursor: pointer;
}
#nav_filtres {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0px;
  padding: 0px 20px;
  font-size: 14px;
}
#nav_filtres strong {
  color: black;
  font-weight:900;
}
.filtre {
  width: 100%;
  align-items: start;
  margin-bottom: 10px;
}
.boutons_filtre i {
  width: 48px;
  height: 48px;
  color : #0065fc;
  border-radius: 100%;
  background-color: #deebff;
  padding: 1rem;
}
.boutons_filtre {
  display: flex;
  align-items: center;
  height: 3rem;
  border-radius: 1000px;
  border-right: 2px solid #dcdcdc;
  border-top: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  margin-bottom: 5px;
  margin: 5px;
  padding-right: 9px;
}
.boutons_filtre:hover {
  background-color: #deebff;
  font-size: larger;
}
.boutons_filtre i{
  margin-right: 8px;
}
.info {
    display: flex;
    margin-bottom: 40px;
}
.info i {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  color: #0065fc;
  font-size: small;
  border: 3px solid #f2f2f2;
  display: flex;
  padding: 13px;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  margin-left: 19px;
  margin-top: -5px;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box a {
  color: black;
}
/*.hebergements {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}*/
.hebergement_Marseille {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 15px;
  margin-top: 35px;
}
.hebergement_Marseille h2 {
  width: 100%;
  margin: 10px 0;
}
.afficher_plus {
  font-size: 16px;
  padding: 20px 0px;
}
.afficher_plus:hover {
  color: #555
}
.description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.hotel .description {
  width: 100%;
  margin-left: 0px;
  color: black;
}
.bloc_hotel {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
}
.hotel {
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  justify-content: space-around;
  background-color: snow;
  margin: 10px auto;
  box-shadow: 1px 1px 8px #555;
  padding: 5px;
  width: 100%;
}
.hotel .box-img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.hotel .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover ;
}
.les_plus_populaires {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f2f2f2;
  padding: 55px;
  margin-top: 35px;
}
.les_plus_populaires h2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  position: relative;
}
.populaire {
  display: flex;
  border-radius: 20px;
  box-shadow: 1px 1px 8px;
  justify-content: space-around;
  background-color: snow;
  justify-content: space-between;
  box-shadow: 1px 1px 8px #555;
  width: 100%;
  height: 120px;
  margin: 10px auto;
  padding: 5px;
}
.populaire .description_pop {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-top: 10px;
}
.description_pop .etoiles {
  margin-top: 15px;
}
.populaire .populaire-box {
  width: 57%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}
.populaire-box img {
  width: 100%;
  height: 100%;
  object-fit: cover
}
.activites_Marseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
}
.activites_Marseille h2 {
  width: 100%;
  margin: 20px 0;
}
.activite {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: snow;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 1px 1px 8px #555;
}
.activite span {
  padding: 10px;
}
.activite .img-activite {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.img-activite {
  width: 100%;
  height: 150px;
}
.img-activite img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vieu_port {
  display: flex;
  flex-wrap: wrap;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  color: black;
}
.calanques {
  display: flex;
  flex-wrap: wrap;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  color: black;
}
.box_photo_1 {
  width: 100%;
  margin: auto;
}
.box_photo_2 {
  width: 100%;
  margin: auto;
}
.box_photo_1 .photo1 {
  display: flex;
  flex-wrap: wrap;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  color: black;
}
.box_photo_2 .photo2 {
  display: flex;
  flex-wrap: wrap;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  color: black;
}
.etoile_bleu {
  color: #0065fc;
}
.etoile_grise {
  color: lightgrey
}
.footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 15px;
}
.footer h4 {
  width: 100%;
  margin-bottom: 15px;
  align-items: initial
}
.footer a {
  font-size: small;
  color: #000;
}
.footer li {
  margin-bottom: 10px;
}
.footer li :hover {
  color: gray;
  border-bottom: 1px solid rgb(59, 58, 58);
}
.apropo {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.hebergement {
  display: flex;
  flex-direction: column;
  margin-top: 15px;  
}
.assistance {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}


@media screen and (min-width: 767px) and (max-width: 991px) {

    input {
        width: 15rem;
        height: 100%;
        border: 2px solid #f2f2f2;
    }
    .bouton_recherche {
        display: block;
        background-color: #0065fc;
        color: white;
        height: 3rem;
        width: 6rem;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-left: 6rem;
    }
    .les_plus_populaires {
        width: 100%;
        border-radius: 15px;
        margin-top: 20px;
        padding: 35px;
    }
    .activites_Marseille {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }
    .activites_Marseille .titre {
        width: 100%;
        margin-bottom: 15px;
    }
    .activites_Marseille .box_photo_1 {
        justify-content: left;
        width: 45%;
    }
    .activites_Marseille .box_photo_2 {
        justify-content: right;
        width: 45%;
    }
    .footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: row;
        margin: 0px;
    }
    .footer a {
        font-size: 11px;
    }
    
    .apropo {
        width: 30%;
        margin: 15px;
    }
    .hebergement {
        width: 30%;
        margin: 15px;
    }
    .assistance {
        width: 30%;
        margin: 15px;
    }
}



@media screen and (min-width: 991px) and (max-width: 1200px) {
  
  
    .activites_Marseille {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }
    .activites_Marseille .titre {
        width: 100%;
        margin-bottom: 15px;
    }
    .activites_Marseille .box_photo_1 {
        justify-content: left;
        width: 45%;
    }
    .activites_Marseille .box_photo_2 {
        justify-content: right;
        width: 45%;
    }
    .footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: row;
        margin: 0px;
    }
    .footer a {
        font-size: 11px;
    }
    
    .apropo {
        width: 30%;
        margin: 15px;
    }
    .hebergement {
        width: 30%;
        margin: 15px;
    }
    .assistance {
        width: 30%;
        margin: 15px;
    }
}

    
@media screen and (min-width: 1200px) {


      .naviguateur {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
      }
      .menu {
        display: flex;
        flex-wrap:nowrap;
        align-items: baseline;
        padding: 15px;
        justify-content:flex-end ;
      }
      .naviguateur li {
        padding: 10px;
      }
      #nav_filtres {
        justify-content: flex-start;
      }
      main {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
      }
      .box {
        display: flex;
      }
      .les_plus_populaires {
        border-radius: 15px;
        flex-direction: column;
        margin-left: 20px;
        width: 85%;
      }
      .populaire{
        max-width: 30rem;
      }
      .bloc_hotel{
        display: flex;
      }
      .hotel {
        width: 30%;
      }
      .hebergement_Marseille {
        background-color: #f2f2f2;
        max-width: 60%;

      }
      .activites_Marseille {
          display: flex;
          flex-wrap: nowrap;
          margin: 0px;
      }
      .activites_Marseille .titre {
            width: 100%;
            margin-bottom: 15px;
      }
      .box_photo_1 .photo1 {
        height: 100%;
        max-width: 28rem;
      }
      .box_photo_1 .photo2 {
        display: flex;
        flex-direction: column;
        max-width: 30em;
      }
      .box_photo_2 .photo1 {
        height: 100%;
        max-width: 28rem;
      }
      .box_photo_2 .photo2 {
        display: flex;
        flex-direction: column;
        max-width: 30em;
      }
      .footer {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            flex-direction: row;
            margin: 0px;
      }
      .footer a {
            font-size: 15px;
      }
      .apropo {
            width: 30%;
            margin: 15px;
      }
      .hebergement {
            width: 30%;
            margin: 15px;
      }
      .assistance {
            width: 30%;
            margin: 15px;
      }
}
}


